Data_Science_Final/emp_file_CAPSTONE.txt
Data_Science_Final/dept_CAPSTONE.txt
Data_Science_Final/raises_CAPSTONE.txt
Bias_crime_2015_2019.csv
Customer.xlsx
customers2.csv
ETH-USD_2021.csv
grades.csv
grades.txt
ratings.dat
Sales_February_2019.csv
Sales_January_2019.csv
tips (1).csv
tips.csv
TSLA_2021.csv
US_Cities_delimited.txt
US_Presidents.txt
users.dat
NYPD_Arrests_Data__Historic_.csv
president_heights.csv
ratings.dat
spx.csv